html {
  margin: 0;
  margin-bottom: 24px;
  min-height: 100%;
  filter: grayscale(0%);
}

body {
  margin: 0;
  padding: 0;
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
}

.header {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 0;
}

#leftHeader {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 16em;
}

#logoContainer {
  width: 8.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8.8em;
}

div svg {
  color: blue;
  fill: currentColor;
}

#logoImage {
  margin-top: 0.15em;
  width: 6vw;
}

#logoImage:hover {
  filter: invert(58%) sepia(98%) saturate(1094%) hue-rotate(157deg)
    brightness(108%) contrast(96%);
}

#logoText {
  color: White;
  font-size: 1.4em;
  width: 5.2em;
  letter-spacing: 0.1em;
  margin-left: 8px;
  white-space: nowrap;
}

#rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

.rightHeaderLinks {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  border-right: solid 1px white;
  padding: 0 16px;
  line-height: 22px;
  font-size: 2.5vmin;
  white-space: nowrap;
  transition: color 0.8s ease-in-out;
}

.headerLink:hover {
  color: #f06414;
  border-color: white;
}

.headerLink:first-child {
  padding: 0 16px;
  padding-left: 0;
  margin-left: 16px;
}

.headerLink:last-child {
  border: none;
}

.upperFloatingLayer {
  position: relative;
}

.upperFloatingLayerContainer {
  width: 115vmin;
  height: 60.6vh;
  border-radius: 1.5em;
  margin: 22vmin auto 15vmin auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2em rgb(69, 69, 69);
}

.upperFloatingImage {
  width: 46vmin;
  margin-bottom: 6.5vmin;
}

.upperFloatingLayerTextOne {
  color: white;
  font-size: 6vmin;
  margin-bottom: 2.5vmin;
}

.upperFloatingLayerTextTwo {
  display: flex;
  color: white;
  font-size: 4vmin;
  margin-bottom: 6.5vmin;
}

.playNowButton {
  --c: #f06414; /* the color */
  --b: 0.1vmin; /* border length*/
  --d: 0.8vmin; /* the cube depth */

  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(
        at left var(--d) bottom var(--d),
        #0000 90deg,
        rgb(255 255 255 /0.3) 0 225deg,
        rgb(255 255 255 /0.6) 0
      )
      border-box,
    conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0)
      0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
  width: 20vmin;
  height: 8vmin;
  background-color: #f06414;
  color: white;
  opacity: 0.9;
  border: 0 solid transparent;
  font-size: 2.55vmin;
  margin-bottom: 6vmin;
}

.playNowButton:hover {
  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--d),
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    calc(100% - var(--d)) 100%,
    0% 100%
  );
}

.platformsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 18vmin;
  margin-left: 5vmin;
}

.battleNetLogo:hover,
.xboxLogo:hover,
.playstationLogo:hover,
.nintendoLogo:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.xboxLink,
.playstationLink,
.nintendoLink {
  margin-left: 5vmin;
}

.battleNetLogo,
.xboxLogo {
  width: 26vmin;
}

.logo:first-child {
  margin-left: 0;
}

.secondLayer {
  position: relative;
}

.secondLayerContainer {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(resources/secondLayerBackground.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.secondLayerLeftSide {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.secondLayerRightSide {
  width: 45%;
}

.secondLayerLeftSideHeader {
  display: flex;
  font-size: 3.5vw;
  font-weight: bold;
  margin-bottom: 6vh;
  margin-top: -2vh;
}

.secondLayerLeftSideContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9vw;
  margin-bottom: 3vh;
}

.secondLayerRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overwatchLaunchVideo {
  width: 60vw;
  height: 42vh;
  padding-right: 6vw;
  margin-left: 5vw;
}

.bottomLayer {
  width: 100vw;
  height: 70vh;
  background-image: url(resources/sunnyField.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomLayerContent {
  height: 100%;
  width: 100%;
  color: white;
  text-shadow: 0 5px 12px black, 0 5px 12px gray, 0 5px 12px black;
  font-size: 4vw;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textSignature {
  margin-top: 1.5vh;
  font-size: 3.5vw;
  display: flex;
}

.bottomLayerTwo{
  position:relative;
}

.bottomLayerTwoContent{
  width: 100vw;
  height: 70vh;
  display: flex;
  position: relative;
}

.bottomLayerTwoVector{
  top: -9vh;
  width: 100vw;
  height: 85vh;
  display: flex;
  position: absolute;
  background-image: url(resources/Desktop_Outro_Characters.png);
}

.middleLayer {
  margin: 0;
  padding: 0;
  position: relative;
}
.middleLayerHeader {
  font-size: 40px;
  color: white;
  text-shadow: 0 5px 12px black, 0 5px 12px black, 0 5px 12px black;
}

.middleLayerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(resources/secondLayerBackground.jpg);
  padding-bottom: 25px;
}

.middleLayerHeader {
  text-align: center;
  margin: 1em;
}

.middleLayerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 2.5em;
  opacity: 1;
}

.fanArt,
.merchandise,
.fanFiction,
.professionalTeams,
.originStories {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0px;
}

.fanArtImage,
.merchandiseImage,
.fanFictionImage,
.professionalTeamsImage,
.originStoriesImage {
  width: 12em;
  height: 14em;
  border: 0.3em solid rbg(255, 255, 255);
  border-radius: 1.5em;
  box-shadow: 0 10px 30px black;
  transition: 0.35s;
  padding: 0.1em;
  margin: 0.5em 1em 1.5em 1em;
}

.fanArtImage:hover,
.merchandiseImage:hover,
.fanFictionImage:hover,
.professionalTeamsImage:hover,
.originStoriesImage:hover {
  transform: scale(1.08);
  transform: rotate(-8deg);
  box-shadow: 0 0 30px #00fff0;
}

.fanArtSubtitle,
.merchandiseSubtitle,
.fanFictionSubtitle,
.professionalTeamsSubtitle,
.originStoriesSubtitle {
  font-size: 24px;
  color: white;
  text-shadow: 0 5px 12px black, 0 5px 12px black;
}

.footer {
  background: linear-gradient(
    90deg,
    rgba(195, 196, 196, 1) 0%,
    rgba(255, 230, 230, 1) 0%,
    rgba(207, 221, 255, 1) 100%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a.odinLink:link {
  text-decoration: none;
  color: purple;
}

a.odinLink:visited {
  color: purple;
}

a.odinLink:hover {
  color: purple;
}
